<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Softv.SoftvApp.SoftvApp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <service
            android:name="com.Softv.SoftvApp.SoftvApp.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Dibujo.Firma"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.Inicio"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="Inicio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.Orden"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/title_activity_orden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.Reportes"
            android:label="@string/title_activity_reportes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.NAPTAP"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.Configuracion"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/title_activity_configuracion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.ServiciosAInstalar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.AsignarAparato"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.ExtensionesAdi"
            android:screenOrientation="portrait"
             />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.MainReportes"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.CambioDom"
            android:configChanges="screenSize|orientation"
            />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.CambioAparato"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.Softv.SoftvApp.SoftvApp.Activitys.ReporteAsignacion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.Activitys.TecnicosSecundarios"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.Softv.SoftvApp.SoftvApp.sampledata.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.Softv.SoftvApp.SoftvApp.Notificaciones.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_menu_send" />
    </application>

</manifest>